.cdf-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 20px;
}

.cdf-field-group {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    text-align: left;
  
    margin: 10px 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #626266;
}

.cdf-field {
    height: 46px;
    margin-top: 10px;
    padding-left: 13px;

    border-radius: 8px;
    border: none;

    background: #F6F6F6;
}

.cdf-textarea {
    height: 100px;
    margin-top: 10px;
    padding-top: 14px;
    padding-left: 13px;

    
    border-radius: 8px;
    border: none;

    background: #F6F6F6;
}

.cdf-download-button {
    padding: 5px 20px;
    margin-left: 10px;

    border-radius: 8px;
    border: none; 

    color: #FFFFFF;

    background: #4E8AF4;
}

.cdf-creation-date {
    text-align: left;

    margin-top: 20px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    color: #82868C;
}

.cdf-buttons-container {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}

.cdf-save-button {
    text-align: center;

    width: 232px;
    height: 45px;
    margin: 20px 20px 0 0 ;

    border: 1px solid rgba(18, 17, 39, 0.12);
    border-radius: 8px;
    

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000;

    background: #FFFFFF;
}

.cdf-sign-button {
    text-align: center;

    width: 232px;
    height: 45px;
    margin-top: 20px;
    
    border-radius: 8px;
    border: none;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

    background: #4E8AF4;
    
}

@media (max-width: 800px) {
    .cdf-buttons-container {
        flex-direction: column;
    }

    .cdf-save-button, .cdf-sign-button {
        width: 100%;
        margin: 20px 0 0 0 ;
    }

    .cdf-download-button {
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }
    
}