.cd-container { 
    padding: 20px 100px;
}

.cd-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 40px;

    box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
    border-radius: 8px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3A3C40;

    background: #FFFFFF;
}

.cd-status-container {
    height: fit-content;
    margin-bottom: 40px;
}

.cd-status-green {
    width: fit-content;
    margin-left: 10px;
    padding: 4.5px 17px;

    border-radius: 20px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

    background: #2CC5BD;
}

.cd-members-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 10px;  
}

@media (max-width: 800px) {
    .cd-container {
        padding: 80px 10px 40px 10px;  
    }

    .cd-box {
        margin-top: 20px;
        padding: 40px 20px;
    }

    .cd-members-container {
        flex-direction: column; 
        
        margin: 10px 0 40px 0;
    }  
}

@media (max-width: 285px) {
    .cd-box {
        padding: 5px;
        box-shadow: none;
    }
}