.ccf-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 40px;

    box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
    border-radius: 8px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3A3C40;

    background: #FFFFFF;
}

.ccf-form {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.ccf-field-group {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    text-align: left;

    margin: 10px 0px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #626266;
}

.ccf-button-left {
    margin: 10px 0 0 0;
    padding: 2px 15px;

    border-radius: 10px 0px 0px 0px;
    border: 1px solid #4E8AF4;
    border-bottom: none;
}

.ccf-button-right {
    padding: 2px 15px;

    border-radius: 0px 10px 0px 0px;
    border: 1px solid #4E8AF4;
    border-bottom: none;
}

.ccf-field {
    height: 46px;
    margin-top: 10px;
    padding-left: 13px;
    
    border-radius: 8px;
    border: none;

    background: #F6F6F6;
}

.ccf-textarea {
    height: 100px;

    padding-top: 14px;
    padding-left: 13px;

    border-radius: 0 8px 8px 8px ;
    border: none;

    background: #F6F6F6;
}

.cff-file-field {
    padding: 10px;

    margin-bottom: 5px;

    border-radius: 0 8px 8px 8px ;
    border: none;
    background: #F6F6F6;
}

.ccf-submit-button {
    text-align: center;

    width: 232px;
    height: 45px;
    margin-top: 20px;

    border-radius: 8px;
    border: none;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;

    background: #4E8AF4;   
}

@media (max-width: 800px) {
    .ccf-container {
        padding: 40px 20px;
        margin-top: 20px;
    }

    .ccf-submit-button {
        width: 100%;
    }
}

@media (max-width: 325px) {
    .ccf-container {
        padding: 40px 10px;
    }

    .ccf-button-left, .ccf-button-right {
        padding: 2px 5px;
    }
}