.DealsContainer { 
    padding: 20px 100px;
}

.ButtonContainer {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.Button {
    height: 40px;
    width: 150px;

    padding: 6px 18px;
    border: none;
    text-align: center;


    background: #4E8AF4;
    border-radius: 4.32365px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: #FFFFFF;
    
}

.TableHeader {
    display: -webkit-flex;
    display: flex;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 20px;

    color: #82868C;
}

.ColumnTitleDeal {
    text-align: left;

    margin: 0px 20px 0px 50px;
    width: 50%;
}

.ColumnTitle {
    margin: 0 20px 0 0px;
    width: 50%;
    
}

.ColumnsContainer0 {
    display: -webkit-flex;
    display: flex;
    width: 70%;
}



.Columns2TitleContainer {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

    width: 50%;
}

.BatchesTitleContainer {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

    width: 30%;
}





.Avatar { 
    background: #FFFFFF;
    margin-right: 5px;
}



.D-no-deals-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 100px 0;

    box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
    border-radius: 8px;
 
    

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: #283252;

    background: #FFFFFF;
}

.D-no-deals-text {
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .DealsContainer {
        padding: 20px 90px;
        margin-top: 70px;
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .DealsContainer {
        padding: 80px 20px 40px 20px;  
    }
    
    .TableHeader { 
        display: none;
    }

}

@media (max-width: 325px) {

    .DealsContainer {
        padding: 90px 10px 40px 10px;  
    }

}