@import url('./fonts.css');

.kic-container {
    padding: 90px 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

.kic-container2 {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kic-back-button {
    display: -webkit-flex;
    display: flex;
    align-items: center;

    border: none;

    background: none;
}

.kic-back-button-img {
    margin-right: 10px;
}

.kic-text-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 30px;

    font-weight: 500;
}

.kic-title {
    text-align: center;

    margin-bottom: 60px;

    font-weight: 600;
    font-size: 23px;
}

.kic-text {
    width: 98%;

    margin-bottom: 20px;
}

.kic-dropdown {
    width: 260px;
}

.kic-file-input {
    width: 95%;
}

.kic-button, .kic-button-2 {
    position: absolute;
    bottom: 20px;

    text-align: center;

    width: 85%;
    height: 60px;
    
    margin-top: 20px;

    border-radius: 8px;
    border: none;

    color: #FFFFFF;

    background: #4E8AF4;   
    
}

@media (min-width: 350px) {
    .kic-title {
        font-size: 30px;
    }

    .kic-container {
        font-size: 20px;
    }

    .kic-button, .kic-button-2 {
        bottom: 40px;
    }
}

@media (min-width: 800px) {
    .kic-container {
        padding: 20px 20px;
        font-size: 14px;
    }

    .kic-back-button {
        margin: 0 0 0 60px;
    }

    .kic-text-container {
        margin: auto;
        padding-top: 50px;
        width: 400px;
        height: 550px;

        box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
        border-radius: 8px;
    }

    .kic-title {
        font-size: 30px;
    }

    .kic-text {
        width: auto;
    
        margin: 0 20px 20px 20px;
    }

    .kic-file-input {
        width: auto;
    }

    .kic-button {
        position: static;
        font-size: 16px;
        margin-top: 240px;
        width: 350px;
    }

    .kic-button-2 {
        position: static;
        font-size: 16px;
        margin-top: 220px;
        width: 350px;
    }

    
}

